* {
    font-family: arial;
}

h1, h3 {
    font-family: geneva;
}

body {
    background-color: ghostwhite;
}

article {
    background-image: linear-gradient(red, green, blue);
}

header {
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    color: white;
}


/* link styles */
a {
    color: lightseagreen;
}


img {
    display: block;
    height: 20%;
    border-color: lightseagreen;
    margin-bottom: .5em;
}

.subheading {
    border-bottom: solid 2px red;
}

header, img, article {
    border-radius: 0.75em;
    box-shadow: 60px -16px teal;
}

header, article {
    padding: .5em;
}

